footer {
	display: flex;
	justify-items: center;
	height: 10rem;
	padding: 2rem 5rem;
	background-color: #020202;
	color: #dbdbdb;
}

footer > div {
	display: inline-block;
}

footer a {
	text-decoration: none;
	color: #555
}

footer a:hover {
	text-decoration: underline;
	text-decoration-color: #dbdbdb;
}

footer ul {
	margin: 0 2rem;
	list-style: none;
}

footer ul li:first-of-type  {
	padding-bottom: 0.5rem;
}

#footer-logo {
	background: url('../img/logo.svg') no-repeat;
	background-size: contain;
	height: 7.5rem;
	width: 15rem;
}

#footer-legal {
	color: #555
}
