@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@600&display=swap');

body {
	margin: 0;
	padding: 0;
	height: 100vh;
	font-family: 'Roboto Mono', sans-serif;
}


/* Header */
header {

}


/* Welcome */
#welcome {
	height: 100vh;
	padding: 7.5rem;
	background: url('../img/background.jpg') no-repeat center;
	background-size: cover;
}

#full-logo {
	background: url('../img/full-logo.svg') no-repeat;
	background-size: contain;
	width: 20rem;
	height: 12.5rem;
}

#welcome-login-btns {
	display: flex;
	width: 20rem;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#welcome-login-btns a {
	width: 10rem;
	padding: 1rem;
	margin-bottom: 2rem;
	text-align: center;
	text-decoration: none;
	color: #dbdbdb;
	background-color: rgb(224, 224, 224, 0.15);
	border: 3px solid rgb(224, 224, 224);
	border-radius: 10px;
	transition: background-color .1s;
}

#welcome-login-btns a:hover {
	background-color: rgb(224, 224, 224, 0.5);
}


@media screen and (orientation: portrait) {
	#full-logo, #welcome-login-btns {
		margin: 0 auto;
	}
}